*{box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

@font-face {
    font-family: miFuente;
    src: url(../fuente/coolvetica\ rg\ \(2\).otf);
    font-weight: 400;
}

h1{
    font-size: 90pt;
    font-family: miFuente;
    color: #0a2ff1;
}

h3{
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #0a2ff1;
}

p{
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #04146c
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eff2ff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

img{
    width: 15%;
    justify-content: center;
}