@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

body { margin: 0; font-family: 'Mulish', sans-serif; font-size: 18px; font-weight: 400;}
* { box-sizing: border-box;}

h1 { font-weight: 900; text-align:center;color: #3ffff3; width: 100%; background-color:#04146c;font-size: 52px;margin:0; padding: 1em;}

section { padding: 1em;}
h2 {font-weight: 700; font-size: 22px; color: #0a2ff1; margin: 0; }
section { display: flex; align-items: flex-start; }
section div { padding-left: 1em;}

main { width: 80%; margin: auto; background-color: #edf7ff;}